.message-output{
    height: 72vh;
    border: 1px solid lightgray;
    overflow-y: auto;
    margin-bottom: 20px;
    position: relative;
}
.sender-message{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}
.incomming-message .message-inner{
    background-color: #E5E5E5;
}
.message-date-indicator{
    background: #E5E5E5;
    width: 100px;
    padding: 3px;
    margin: 10px auto;
    border-radius: 4px;
    font-size: 13px;
}

.message-inner{
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 0px 10px;
    min-width: 200px;
    max-width: 90%;
    text-align: left;
    /* min-height: 80px; */
    font: 400 lem, sans-serif;
    display: inline-block;
    border-radius: 5px;
    background-color: #cbebf2;
}

.message-sender{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.message-content{
    margin-bottom: 0;
    margin-top: 0;
    font-size: 14px;
}

.message-timestamp{
    font-size: 12px;
    font-weight: 300;
    /* margin-top: 10px; */
    margin-bottom: 0;
    display: flex;
    justify-content: flex-end;
}

.room-name-header{
    width: 100%;
    padding: 10px 0;
    /* height: 6vh; */
    background-color: #0db7fd;
    display: flex;
    align-items: center;
}
.room-name-header img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}
.name-status{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* align-items: center; */
    margin-left: 15px;
}
.status{
    font-size: 0.7rem;
    margin-top: 0;
}
.room-name-header .name{
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    font-size: 0.9rem;
    margin-top: 1px;
}